.search-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  border-radius: 5%;
}

ion-searchbar {
  --padding: 0.5rem;
  --margin: 0.5rem;
  --max-width: 100%;
  --border-radius: 20px;
}

.searchbar-input.sc-ion-searchbar-md {
  --height: 40px;
  --font-size: 1.25em;
}

.searchbar-search-icon.sc-ion-searchbar-md {
  left: 16px;
  top: 10px;
  width: 20px;
  height: 21px;
}

@media screen and (max-width: 991px) {
  .search-container {
    justify-content: space-around;
  }
  ion-searchbar {
    --max-width: 100%;
  }
}
