<ion-header>
  <ion-toolbar>
    <div *ngIf="movie">
      <ion-title> {{movie.title}}</ion-title>
      <ion-button class="movie-button" (click)="goBack()">Go Back</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="movie" class="movie-details">
  <div class="movie-data-container">
    <ion-row>
      <ion-col size-lg="4">
        <div class="image-container">
          <img
            *ngIf="movie.poster_path"
            class="movie-image"
            alt="image poster"
            src="https://image.tmdb.org/t/p/original{{movie.poster_path}}"
          />
          <img
            *ngIf="!movie.poster_path"
            class="movie-image"
            alt="image poster not available"
            src="https://cidco-smartcity.niua.org/wp-content/uploads/2017/08/No-image-found.jpg"
          />
        </div>
      </ion-col>
      <ion-col size-lg="8">
        <div class="info">
          <div class="langs-container">
            <strong>Languages:</strong>
            <ul>
              <li *ngFor="let langs of movie.spoken_languages;">
                <span> {{langs.id}} {{langs.name}}</span>
              </li>
            </ul>
          </div>
          <div class="movie-release">
            <strong>Release: </strong>{{movie.release_date}}
          </div>
          <div class="movie-average">
            <strong>Average</strong> {{movie.vote_average}} / 10
          </div>
          <div class="genres-container">
            <ul>
              <li
                *ngFor="let genre of movie?.genres;"
                style="list-style: none; display: inline"
              >
                <ion-badge class="genre-badge">{{genre?.name}}</ion-badge>
              </li>
            </ul>
          </div>
          <div class="overview-container">
            <strong>Overview</strong>
            <p class="movie-overview">{{movie.overview}}</p>
          </div>
        </div>
        <div class="trailer-container">
          <iframe
            *ngIf="videoUrl"
            width="250"
            height="175"
            [src]="videoUrl"
            frameborder="0"
            allowfullscreen
          ></iframe>
          <img
            *ngIf="!videoUrl"
            class="movie-video"
            alt="video not available"
            src="https://dev.myremotedevelopers.com/assets/img/no-video.gif"
          />
        </div>
      </ion-col>
    </ion-row>
    <div class="related-container">
      <strong class="related-list-title">Related Movies</strong>
      <ul class="related-list">
        <li *ngFor="let similar of related?.results;">
          <div class="related-card" (click)="onSelect(similar.id)">
            <img
              *ngIf="similar?.poster_path"
              alt="similar movies"
              class="movie-related-image"
              src="https://image.tmdb.org/t/p/original{{similar?.poster_path}}"
            />
            <img
              *ngIf="!similar?.poster_path"
              alt="similar movies not available"
              class="movie-related-image"
              src="https://cidco-smartcity.niua.org/wp-content/uploads/2017/08/No-image-found.jpg"
            />
          </div>
        </li>
      </ul>
    </div>
  </div>
</ion-content>
