@import "../../../theme/variables.scss";

ion-toolbar div {
  display: flex;
  & .movie-button {
    padding-right: 1rem;
  }
}

.movie-details {
  width: 100%;
  margin: auto;
}

.movie-data-container {
  display: block;
  width: 90%;
  margin: auto;
  padding: 2rem;
}

.data-row {
  display: block;
  width: 80%;
  margin: auto;
}

.info {
  background-color: rgba($color: red, $alpha: 0.5);
  border-radius: 5px;
  padding: 2rem;
}

.image-container {
  margin: auto;
}

.movie-release {
  margin: $margin-sm;
}

.movie-average {
  margin: $margin-sm;
}

.genres-container {
  margin-left: 4%;

  li {
    .genre-badge {
      margin: 0 5px 0 0;
      padding: 5px;
    }
  }
}

.movie-image {
  width: -webkit-fill-available;
  width: -moz-available;
}

.movie-title {
  text-align: center;
  font-size: 24px;
}

.movie-video {
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 175px;
}

.movie-related-image {
  max-width: 120px;
  min-height: 180px;
  margin: 15px;
}

ul {
  display: inline-flex;
  padding-inline-start: 5px;
  margin: 0;
}

.langs-container {
  margin: $margin-sm;

  li {
    list-style: none;
    display: inline;

    &:after {
      content: ",";
    }

    &:last-child:after {
      content: ".";
    }

    span {
      display: inline-list-item;
    }
  }
}

.overview-container {
  margin: 10px 0 10px 4%;
}

.trailer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
  height: 60%;

  iframe {
    width: 45.25rem;
    height: 25.5rem;
    margin: 15px auto;
  }
}

.movie-overview {
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}

.related-list-title {
  margin: $margin-sm;
}

.related-container {
  margin-top: 5%;

  .related-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    li:nth-of-type(1n + 6) {
      display: none;
    }

    .related-card {
      width: content-box;
      display: flex;
      flex-direction: column;
      margin: 15px;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 480px) {
  .movie-image {
    width: 100%;
    height: 100%;
  }

  .image-container {
    width: 90%;
    margin: auto;
  }

  .overview-container {
    max-width: 94%;
    margin: 10px 0 10px 4%;
  }

  .related-container {
    margin-top: 5%;

    .related-list {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;

      li:nth-of-type(1n + 9) {
        display: none;
      }

      .related-card {
        width: content-box;
        display: flex;
        flex-direction: column;
        margin: 10px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 991px) {
  .related-list-title {
    max-width: 95%;
    margin: 0 0 0 0;
  }

  .overview-container {
    max-width: 85%;
    margin: 10px 0 10px 4%;
  }
  .list-container {
    max-width: 73%;
  }
  .movie-release {
    max-width: 73%;
  }
  .movie-average {
    max-width: 73%;
  }

  .related-container {
    margin-top: 2%;

    & strong {
      margin-top: 10px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .overview-container {
    max-width: 80%;
    margin: 10px 0 10px 4%;
  }
}
