@import "../../../theme/variables.scss";

ion-grid {
  align-content: center;
  margin: 0 3%;
}

#myVideo {
  position: absolute;
  object-fit: cover;
  bottom: 60%;
  min-width: 100%;
}

.video-container {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;

  .searchbar {
    align-self: center;
  }
}

.top-films {
  background: #eaeaea;
  border-radius: 25px;

  &-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

    & strong {
      flex-direction: row;
      font-size: 1.5rem;
    }
  }

  & hr {
    border-bottom: 2px solid black;
  }
  .list {
    display: flex;
    flex-direction: row;

    & ul {
      padding-inline-start: 10px;
      & > li {
        display: flex;
        flex-direction: row;
        list-style: none;
        cursor: pointer;
      }
      &-image {
        max-width: 75%;
      }
    }
  }
}

.movie-container {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;

  & ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-inline-start: 0;
  }
}

.movie-row {
  max-width: 210px;

  &:hover {
    cursor: pointer;
  }
}

.thumbnail-container {
  width: 11.5rem;
  height: 18rem;
  margin: 0px 15px;
  background-color: #eaeaea;
  border-radius: 15px;

  ion-thumbnail {
    height: 16rem;
    width: auto;
    filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.5));
    padding: unset;

    img {
      min-width: 128px;
      min-height: 128px;
      padding: 0.7rem;
      border-radius: 15px;
    }
  }

  ion-thumbnail:hover {
    img {
      min-width: 128px;
      min-height: 128px;
      padding: 0.7rem;
      border-radius: 15px;
      filter: drop-shadow(0px 7px 5px rgba(0, 0, 0, 0.5));
    }
  }

  .title-container {
    font-size: 1rem;
    width: 10rem;
    margin: 5px 0px 0px 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: flex-start;
    justify-content: flex-start;
    align-content: center;

    & span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & span:hover {
      cursor: pointer;
      color: #3880ff;
    }
  }
}
