<video autoplay muted loop id="myVideo">
  <source src="assets/video/filmbackground.mp4" type="video/mp4" />
</video>

<div class="video-container">
  <ion-grid>
    <ion-row>
      <ion-col size-lg="3" size-md="12" size-xs="12" class="searchbar">
        <app-searchbar
          (searchOutput)="recieveSearchName($event)"
        ></app-searchbar>
      </ion-col>
      <ion-col size-lg="9" size-md="12" size-xs="12" class="top-films">
        <ion-row>
          <ion-col size="12">
            <div class="top-films-header">
              <strong>TOP TEN MOVIES</strong>
            </div>
          </ion-col>
        </ion-row>
        <hr />
        <ion-row>
          <div class="list">
            <ul
              *ngFor="let topMovie of topTenMovies; let i = index"
              (click)="onSelect(topMovie.id)"
            >
              <li class="top-films-item">
                <div class="list-image">
                  <img
                    *ngIf="topMovie.poster_path"
                    src="https://image.tmdb.org/t/p/w500{{
                      topMovie.poster_path
                    }}"
                  />
                </div>
              </li>
            </ul>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ion-grid>
  <ion-row>
    <ion-col size-lg="12" size-md="12" size-xs="12">
      <div class="movie-container">
        <ul *ngFor="let movie of movies" (click)="onSelect(movie.id)">
          <li class="movie-row">
            <div class="thumbnail-container">
              <ion-thumbnail>
                <img
                  *ngIf="movie.poster_path"
                  src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
                />
                <img *ngIf="!movie.poster_path" [src]="noImage" />
              </ion-thumbnail>
              <div class="title-container">
                <span>{{ movie.title }}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
